<?php

/**
 *
 */

// Disallow direct access.
defined('ABSPATH') or die("Access denied");

// Allow view to enqueue scripts and styles.
CJTPlusPromoView::enqueueScripts();
CJTPlusPromoView::enququeStyles();
$this->suppressPrintScriptsHook();
?>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<?php //wp_print_head_scripts() ?>
	<?php //wp_print_styles() ?>
</head>

<body>
	<div id="cjtoolbox_popup">
		Available only in CSS & JavaScript Toolbox PLUS
		<?php //print_footer_scripts() ?>
	</div>
</body>

</html>