<h3>Settings<span class="js-save-settings save-widget">All Settings Saved</span></h3>

<label><strong>{{title}}:</strong></label>

<fieldset>
    <!--<div class="pc-radio-item"><label>-->
        <!--<div>-->
            <!--<input type="radio"-->
                   <!--name="publish-attempt"-->
                   <!--value="stop"-->
            <!--<?php is_checked($pc_on_publish, 'stop') ?>/>-->
        <!--</div>-->
        <!--<div>-->
            <!--<p class="pc-radio-item__title">Prevent Publishing</p>-->
            <!--<p class="pc-radio-item__body"></p>-->
        <!--</div></label>-->
    <!--</div>-->

    <!--<div class="pc-radio-item"><label>-->
        <!--<div>-->
            <!--<input type="radio"-->
                   <!--name="publish-attempt"-->
                   <!--value="warn"-->
            <!--<?php is_checked($pc_on_publish, 'warn') ?>/>-->
        <!--</div>-->
        <!--<div>-->
            <!--<p class="pc-radio-item__title">Warn User</p>-->
            <!--<p class="pc-radio-item__body"></p>-->
        <!--</div></label>-->
    <!--</div>-->

    <!--<div class="pc-radio-item"><label>-->
        <!--<div>-->
            <!--<input type="radio"-->
                   <!--name="publish-attempt"-->
                   <!--value="nothing"-->
            <!--<?php is_checked($pc_on_publish, 'nothing') ?>/>-->
        <!--</div>-->
        <!--<div>-->
            <!--<p class="pc-radio-item__title">Do Nothing</p>-->
            <!--<p class="pc-radio-item__body"></p>-->
        <!--</div></label>-->
    <!--</div>-->
</fieldset>