<div class="pc-radio-item"><label>
    <div>
        <input type="radio"
               name="publish-attempt"
               value="{{id}}"
            />
    </div>
    <div>
        <p class="pc-radio-item__title">{{title}}</p>
        <p class="pc-radio-item__body">{{body}}</p>
    </div></label>
</div>