<div id="custom-posts-container-<?php echo $block->id ?>" class="custom-posts-container">
	<div class="list-error">
		<span class="message"><?php echo cssJSToolbox::getText('There are no Tags here!') ?></span>
		<br />
		<br />
		<span class="desc">You will see this message if there are no Tags defined.</span>
	</div>
</div>