<h3>Default Checklist</h3>

<p>
    These items will be added to the Publish Checklist for all new posts.
</p>

<div class="pc-edit-list">
    <div class="pc-edit-list__header">
        <p>Item Description <span><i>(click text to edit)</i></span></p>
    </div>
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr class="is-only-child">-->
        <!--<td colspan="2">-->
            <!--<p class="pc-center">You have no checklist items in your default-->
                <!--list.</p>-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <div class="js-list-region"></div>
    <ul class="js-new-item-region pc-list-items"></ul>
</div>

<p>
    <button class="button button-primary js-add-checklist-item">Add
        Checklist Item
    </button>
</p>