<div class="pc-grid__row">
    <div class="pc-grid__flexible">
        <p>{{unescapeHTML description}}</p>
        <input type="text" class="pc-wide"/>
    </div>
    <div class="pc-grid__fixed">
        <button class="button button-primary pc-wide pc-list-item__remove-button js-remove">Remove</button>
        <button class="button button-primary pc-wide pc-list-item__save-button js-save">Save</button>
    </div>
</div>