<div class="pc-grid__row">
    <div class="pc-grid__flexible">
        <input class="list-item__description"
               type="text"
               placeholder="New item description"/>
    </div>
    <div class="pc-grid__fixed">
        <button class="button button-primary pc-wide">Save Item</button>
    </div>
</div>