<ul class="mczrCartPropertiesList">
{% for prop in properties %}
    <li class="mczrPropsListItem">{{ prop.key }} : {{ (prop.value is iterable) ? prop.value|join(', ') : prop.value }}</li>
{% endfor %}
</ul>