<div class="js-pc-popup-source pc-popup zoom-anim-dialog">
    <div class="pc-popup__content">
        {{message}}
    </div>
    <div class="pc-popup__button-group">
        <button class="pc-popup__button js-pc-popup-accept">
            {{confirmText}}
        </button>
        <button class="pc-popup__button js-pc-popup-close">
            {{cancelText}}
        </button>
    </div>
</div>