<div class="wtotem_table__loader">
    <div class="wtotem-loader">
        <div class="wtotem-loader__wrapper">
            <div class="wtotem-loader__dots" style="width: 28px;">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <p class="wtotem-loader__text">{{ 'Please wait'|trans }}</p>
        <p class="wtotem-loader__text--blue">{{ 'We are still crawling your site'|trans }}</p>
    </div>
</div>