<div id="wtotem-prompt-overlay">
    <div id="wtotem-prompt-wrapper">
        <p>
            <label for="wtotem-token">2FA Code</label>
        </p>
        <p>
            <input type="text" name="wtotem-token" id="wtotem-token" aria-describedby="wtotem-token-error" class="input" value="" size="6" autocomplete="off"/>
        </p>
        <p class="submit">
            <input type="submit" name="wtotem-token-submit" id="wtotem-token-submit" class="button button-primary button-large" value="Log In"/>
        </p>
    </div>
</div>