{% for path in paths %}
    <li class="open-path__result-list-item" title="{{ path.path }}">{{ path.path|slice(0, 20) }}</li>
{% endfor %}

<li><a class="open-path__result-more-btn" href="{{ menu_url }}_open_paths">{{ 'More'|trans }}+</a></li>