<div class="section-header">
    <h2 class="h2 title">{{ title }}
        {% if tooltip.title %}
        <div class="wtotem_title-info__info wtotem-tooltip wtotem-tooltip-top" data-service="{{ tooltip.title }}">
            <div class="wtotem-tooltip__content">
                <p class="wtotem-tooltip__header">{{ tooltip.title }}</p>
                <p class="wtotem-tooltip__text">{{ tooltip.text }}</p>
            </div>
        </div>
        {% endif %}
    </h2>
</div>
