<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="Goracash General API tests">
            <directory suffix=".php">./tests/general/</directory>
        </testsuite>
        <testsuite name="Goracash Contact API tests">
            <directory suffix=".php">./tests/contact/</directory>
        </testsuite>
        <testsuite name="Goracash Phone API tests">
            <directory suffix=".php">./tests/phone/</directory>
        </testsuite>
        <testsuite name="Goracash Lead API tests">
            <directory suffix=".php">./tests/lead/</directory>
        </testsuite>
        <testsuite name="Goracash Data API tests">
            <directory suffix=".php">./tests/data/</directory>
        </testsuite>
        <testsuite name="Goracash Subscription API tests">
            <directory suffix=".php">./tests/subscription/</directory>
        </testsuite>
    </testsuites>
</phpunit>
